<!DOCTYPE html>
<html lang="en">
    <head> {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TERA | PASSWORD</title>
        <!-- link of bootstrap -->
        <link rel="shortcut icon" type="image/png" href="{% static 'images/tlogo.jpg' %}">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <style>
body{
    background-image: url("{% static 'images/5492382.jpg' %}");
            background-repeat:no-repeat ;
            
        }
       img{
        width: 50%;
       }
 
@media (max-width:500px) {
    img{
        width: 100%;
       }
       .topic{
        width: auto;
       }
                  }

    </style>
</head>
<body>

    <nav class="navbar  navbar-expand-lg navbar-light navbarown">
        <div class="container-fluid topic">
          <a class="navbar-brand" href="#">
            <span class="logo1">TERA</span>
            <span class="logo2">MEDIA</span>
          </a>
        </div>  </nav> 
<div style="height: 15px;"></div>
<div class="m-5 " style="text-align: center;color: aliceblue;font-weight:700;">
    <img src="{% static 'images/password.png' %}" width="100%" style="border-radius: 30px;" alt=""> <br> <br>
<p>Your Password has been successfully Changed. <br>
<button class="btn btn-success mt-5"><a class="text-light" href="{% url 'login_page' %}">Login</a></button></p>
</div>

</body>
</html>